Question 16: Removal all the characters other than integers from string...

Given: I am 25 years and 10 months old

In [4]:
def strin(s1):
    l=len(s1)
    s=s1.split()
    print(s)
    for i in range(l):
        if s[i].isdigit()==True:
            print(s[i])

str1 = " I am 25 years and 10 months old"
strin(str1)

['I', 'am', '25', 'years', 'and', '10', 'months', 'old']
25
10

IndexError: list index out of range

Question 17: Find words with both alphabets and numbers:

        Given: str1 = "Emma25 is Data scientist50 and AI Expert"

In [3]:
def strin(s1):
    l=len(s1)
    s=s1.split()
    print(s)
    for i in range(0,l):
        if s[i].isalnum()==True and s[i].isalpha()==False:
            a=print(s[i])

str1 = "Emma25 is Data scientist50 and AI Expert"
strin(str1)

['Emma25', 'is', 'Data', 'scientist50', 'and', 'AI', 'Expert']
Emma25
scientist50

IndexError: list index out of range

Question 18: From given string replace each punctuation with #

    Given: str1 = '/*Jon is @developer & musician!!'

In [19]:
from string import punctuation

str1 = '/*Jon is @developer & musician!!'
print(str1)

# Replace punctuations with #
replace_char = '#'

# Using string.punctuation to get the list of all punctuations
# use string function replace() to replace each punctuation with #

for char in punctuationÌ£
    str1 = str1.replace(char, replace_char)

print(str1)

/*Jon is @developer & musician!!
##Jon is #developer # musician##

# List

Question 1: Given a Python list you should be able to display Python list in the following order:
        
aLsit = [100, 200, 300, 400, 500]

In [20]:
def lis(li):
    a=li[::-1]
    print(a)

aLsit = [100, 200, 300, 400, 500]
lis(aLsit)

[500, 400, 300, 200, 100]

Exercise Question 2: Concatenate two lists index-wise
list1 = ["M", "na", "i", "Ke"] 
list2 = ["y", "me", "s", "lly"]

In [33]:
def c_lis(li1, li2):
    res_lis=[]
    l1=len(li1)
    l2=len(li2)
    if l1==l2:
        for i in range(l1):
                a=li1[i]+li2[i]
                print(a)
                res_lis.append(a)
        return res_lis

list1 = ["M", "na", "i", "Ke"] 
list2 = ["y", "me", "s", "lly"]
c_lis(list1, list2)

My
name
is
Kelly

['My', 'name', 'is', 'Kelly']

Question 3: Given a Python list. Turn every item of a list into its square:
        
aList = [1, 2, 3, 4, 5, 6, 7]

In [39]:
def lis(li):
    lis=[]
    for i in li:
        a=i**2
        lis.append(a)
    return lis

aLst = [1, 2, 3, 4, 5, 6, 7]
lis(aLst)

[1, 4, 9, 16, 25, 36, 49]

Question 4: Concatenate two lists in the following order:

list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]

Expected output:

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [49]:
def c_lis(li1, li2):
    res_lis=[]
    l1=len(li1)
    l2=len(li2)
    if l1==l2:
        for i in range(l1):
            a=li1[i]+li2[i]
            print(a)
            res_lis.append(a)
            if i>0:
                b=li1[0]+li2[i]
                c=li1[i]+li2[0]
                res_lis.append(b)
                print(b)
                res_lis.append(c)
                print(c)
        return res_lis

list1 = ["Hello ", "take "] 
list2 = ["Dear", "Sir"]
c_lis(list1, list2)

Hello Dear
take Sir
Hello Sir
take Dear

['Hello Dear', 'take Sir', 'Hello Sir', 'take Dear']

Question 5: Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order

    list1 = [10, 20, 30, 40]

    list2 = [100, 200, 300, 400]

Expected output:

10 400
20 300
30 200
40 100

In [54]:
def c_lis(li1, li2):
    res_lis=[]
    l1=len(li1)
    l2=len(li2)
    li2=li2[::-1]
    if l1==l2:
        for i in range(l2):
            print(li1[i], li2[i])

list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
c_lis(list1, list2)

10 400
20 300
30 200
40 100

Question 6: Remove empty strings from the list of strings:

list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]

["Mike", "Emma", "Kelly", "Brad"]

In [67]:
def lis(li):
    lis=[]
    l=len(li)
    for i in range(l):
        if li[i].isalpha()==True:
            a=li[i]
            lis.append(a)
    return lis
            
aLst = ["Mike", "", "Emma", "Kelly", "", "Brad"]
lis(aLst)

['Mike', 'Emma', 'Kelly', 'Brad']

Question 7: Add item 7000 after 6000 in the following Python List:
        
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

Expected output:

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [78]:
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
#a=list1[2][2]
#b=7000
list1[2][2].append(7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

Question 8: Given a nested list extend it with adding sub list ["h", "i", "j"] in a such a way that it will look like the following list:

list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]

Sub List to be added = ["h", "i", "j"]

Expected output:

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [83]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
a=list1[2][1][2]
b=["h", "i", "j"]
l=len(b)
for i in range (l):
    list1[2][1][2].append(b[i])
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [84]:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
subList = ["h", "i", "j"]

list1[2][1][2].extend(subList)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

Question 9: Given a Python list, find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of a value:

list1 = [5, 10, 15, 20, 25, 50, 20]

Expected output:

list1 = [5, 10, 15, 200, 25, 50, 20]

In [86]:
aLst = [5, 10, 15, 20, 25, 50, 20]
b=aLst[3]
aLst[3]=200

print(aLst )

[5, 10, 15, 200, 25, 50, 20]

Question 10: Given a Python list, remove all occurrence of 20 from the list

list1 = [5, 20, 15, 20, 25, 50, 20]

In [89]:
list1 = [5, 20, 15, 20, 25, 50, 20]
l=len(list1)
lis=[]
for i in range(l):
    if list1[i]!=20:
        a=list1[i]
        lis.append(a)
        
print(lis)

[5, 15, 25, 50]